/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}



/*a2hs*/
/* this was scss */
.installPopup {
    position: absolute;
    right: 0;
    bottom: 15px;
    left: 0;
    display: flex;
    margin-bottom: 16px;
    padding: 5px 10px;
    padding-bottom: 10px;
    font-size: 12px;
    border-radius: 5px;
    color: #303030;
    /*position: relative;*/
    background: lightgray;
    align-items: center;
}
/*&:after, &:before

          {
              position: absolute;
              top: 100%;
              left: 50%;
              width: 0;
              height: 0;
              border: solid transparent;
              content: ' ';
              pointer-events: none;
          }

&:after {
     margin-left: -15px;
     border-width: 15px;
     border-color: rgba(136, 183, 213, 0);
     border-top-color: $background;
 }

&:before {
     margin-left: -16px;
     border-width: 16px;
     border-color: rgba(194, 225, 245, 0);
     border-top-color: $border;
 }

}*/

.icon1 {
    width: 25px;
    vertical-align: middle;
}

.icon2 {
    height: 30px;
    margin-right: 10px;
}

.left {
}

.right {
}

