@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h3>Actions</h3>
<ul id="actions">
    <li><a href="javascript:install()">Install the App</a></li>
    <li><a href="javascript:checkInstalledApp()">Check Related App Installation</a></li>
    <li><a href="javascript:persist()">Persist Storage</a></li>
    <li><a href="javascript:persisted()">Check Persistent Storage</a></li>
    <li><a href="javascript:quota()">Check Quota</a></li>
    <li><a href="javascript:pushRequest()">Push Permission</a></li>
    <li><a href="javascript:pushSubscription()">Push Subscription</a></li>
    <li><a href="javascript:registerSync()">Sync</a></li>
    <li><a href="javascript:periodicPermission()">Periodic Sync Permission</a></li>
    <li><a href="javascript:registerPeriodicSync()">Periodic Sync</a></li>
    <li><a href="javascript:registerFetch()">Background Fetch</a></li>
    <li><a href="javascript:requestUpdate()">Check Update</a></li>
    <li><a href="javascript:badge()">Set a Badge</a></li>
    <li><a href="javascript:share()">Share</a></li>
    <li><a href="javascript:openURL('https://www.youtube.com/watch?v=EFGltzFSK-c')">Universal Link</a></li>
    <li><a href="javascript:openURL('tel:+18882223333')">URI Scheme</a></li>
    <li><a href="javascript:openURL('intent:#Intent;package=com.pluralsight;S.browser_fallback_url=https://pluralsight.com;end')">Android Intent</a></li>
</ul>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <a href="tel://07584126022">Call Dave Mateer on: 07584 126022</a>
</div>
