@page
@model IndexModel
@{
    ViewData["Title"] = "Dave's Portal";
}


<div class="text-center">
    <h1 class="display-4">Welcome 24</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p><a href="tel://07584 111111">Call Dave Mateer on: 07584 111111</a></p>

    <p><a asp-page="/Privacy">Privacy</a></p>

    <button class="add-button">Add to home screen</button>
</div>

<div id="log"></div>


<!-- the a2h3 button for iPhones-->
<div class="installPopup">
    <div class=".right">
        <img src="/a2hs/installPopup2.png" class=".icon2" alt="" />
    </div>
    <div class=".left">
        Install this webapp on your iPhone: tap
        <img src="/a2hs/installPopup1.png" class=".icon1" alt="" />
        and then Add to homescreen.
    </div>
</div>
