<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <meta name="description" content="A portal to show the status of the estate on PortalPWATest" />

    <!-- START -->
    <!-- look at love2dev exmaple download-->
    @*<link href="a2hs/addtohomescreen.min.css" rel="stylesheet">*@
    <link href="a2hs/addtohomescreen.css" rel="stylesheet">

    <!-- maybe not?-->
    @*<meta name="mobile-web-app-capable" content="yes">*@
    @*<meta name="apple-mobile-web-app-capable" content="yes">*@

    <meta name="application-name" content="Davemateer">

    <meta name="apple-mobile-web-app-title" content="Davemateer">

    <!-- theme colour for iOS and status bar white black black-translucent -->
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <!-- icons -->
    <link rel="apple-touch-icon" href="meta/ios/ios-appicon-120-120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="meta/ios/ios-appicon-152-152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="meta/ios/ios-appicon-180-180.png">
    <link rel="apple-touch-icon" sizes="120x120" href="meta/ios/ios-appicon-120-120.png">


    <!-- splashscreens -->
    <link href="meta/ios/apple-touch-startup-image-320x460.png" media="(device-width: 320px)" rel="apple-touch-startup-image">
    <!-- iPhone (Retina) SPLASHSCREEN-->
    <link href="meta/ios/apple-touch-startup-image-640x920.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad (portrait) SPLASHSCREEN-->
    <link href="meta/ios/apple-touch-startup-image-768x1004.png" media="(device-width: 768px) and (orientation: portrait)" rel="apple-touch-startup-image">
    <!-- iPad (landscape) SPLASHSCREEN-->
    <link href="meta/ios/apple-touch-startup-image-748x1024.png" media="(device-width: 768px) and (orientation: landscape)" rel="apple-touch-startup-image">
    <!-- iPad (Retina, portrait) SPLASHSCREEN-->
    <link href="meta/ios/apple-touch-startup-image-1536x2008.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPad (Retina, landscape) SPLASHSCREEN-->
    <link href="meta/ios/apple-touch-startup-image-2048x1496.png" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <!-- iPhone 6/7/8 -->
    <link href="/meta/ios/apple-touch-startup-image-750x1334.png" media="(device-width: 375px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <!-- iPhone 6 Plus/7 Plus/8 Plus -->
    <link href="/meta/ios/apple-touch-startup-image-1242x2208.png" media="(device-width: 414px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />

    <meta name="msapplication-starturl" content="/?utm_source=homescreen">

    <link href="favicon.png" rel="shortcut icon">

    <link rel="icon" type="image/png" href="meta/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="meta/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="meta/favicon-96x96.png" sizes="96x96">

    <meta name="theme-color" content="">

    <link rel="manifest" href="manifest.json">
    <meta name="generator" content="PWA Starter">

    <script src="a2hs/addtohomescreen.js"></script>


    <!-- STOP -->

    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <!-- will load the service worker -->
    @*    <script src="/script.js" asp-append-version="true" defer></script>*@

    <!-- install app A2HS -->
    <!-- regular css now -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">PortalPWATest</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - PortalPWATest - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>
    <script>
        addToHomescreen({
            appID: "net.azurewebsites.portalpwatest",
            appName: "Portal PWA Test4",
            lifespan: 15,
            startDelay: 0,
            autostart: true,
            minSessions: 1,
            displayPace: 0,
            customPrompt: {
                title: "Install Portal PWA Test4?",
                src: "meta/favicon-96x96.png",
                cancelMsg: "Cancel",
                installMsg: "Install"
            }
        });
    </script>
    <script>
        if ("serviceWorker" in navigator) {
            navigator.serviceWorker.register("/sw.js")
                .then(function (registration) { // Registration was successful
                    console.log("ServiceWorker registration successful with scope: ", registration.scope);
                }).catch(function (err) { // registration failed :(
                    console.log("ServiceWorker registration failed: ", err);
                });
        }
    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
